
    @font-face {
    font-family: 'Museo 300';
    font-style: normal;
    font-weight: normal;
    src: local('Museo 300'), url('../fonts/MuseoSansCyrl_300.woff') format('woff');
    }


    @font-face {
        font-family: 'Museo 900';
        font-style: normal;
        font-weight: bold;
        src: local('Museo 900'), url('../fonts/MuseoSansCyrl_900.woff') format('woff');
    }